.styleA {
  @apply bg-transparent;

}

.styleA label,
.styleA label.label,
.styleA label.label-element {
    @apply
    tracking-wide text-gray-700 text-sm

    transition-colors
}

.styleA label,
.styleA label.label {
    @apply
    pb-4
}
.styleA label.label-element {
    @apply block
    pb-2 mt-2
    text-base
}


.styleA .control:focus-within label,
.styleA .control:focus-within label.label {
    @apply text-gray-600
}

/*
    //extra
    button
    submit
    image
    reset
    hidden
*/

.styleA input:not([type]),
.styleA input:where([type="text"], [type="number"], [type="email"], [type="password"], [type="url"], [type="tel"], [type="search"], [type="xxx"], [type="xxx"]),
.styleA input:where([type="date"], [type="datetime-local"], [type="month"], [type="time"], [type="week"]),
.styleA input:where([type="file"], [type="range"], [type="color"]),
.styleA select,
.styleA textarea,
.styleA .tagInput
{
    @apply
    block
    w-full
    py-0.5 px-2

    bg-gray-100
    disabled:bg-gray-200
    bg-opacity-50 focus:bg-opacity-100

    rounded-sm

    text-base
    text-gray-700
    leading-6

    border border-gray-300
    focus:border-gray-500
    transition-colors

    outline-none  appearance-none

    disabled:cursor-not-allowed
}
.styleA select
{
    appearance:auto;
    @apply p-0.5
}



.styleA input:where([type="file"]) {
     @apply p-0 m-0
}
.styleA input:where([type="checkbox"], [type="radio"]),
.styleA label.toggle {
    @apply p-2 m-2 pl-0 ml-0
}
.styleA input:where([type="range"]) {
    appearance: auto;
    @apply p-0
}
.styleA input:where([type="color"]) {
    min-height: 40px;
}

.styleA textarea {
    min-height: 10em;
    @apply
    leading-normal
}
/* range */
.styleA .wrapper:has(input:where([type="range"])) {
    @apply flex gap-1
}
.styleA input:where([type="range"]) + span {
    min-width: 24px;
    @apply text-right
}

/* password */
.styleA .wrapper:has(input:where([data-type="password"])) {
    @apply relative
}
.styleA input:where([data-type="password"]) + button {
    @apply  absolute right-2 top-0 bottom-0
    text-base
}
.styleA input:where([data-type="password"]) + button:after {
    content:"";
    @apply block w-3 h-3 border border-gray-600 rounded-full
}
.styleA input:where([data-type="password"]):where([type="password"]) + button:after {
    content:"";
    @apply border-dashed
}
.styleA input:where([data-type="password"]):where([type="text"]) + button:after {
    content:"";
    @apply border-gray-400
}

.styleA .horizontal-layout,
.styleA.horizontal-layout
{
    @apply flex flex-row w-full
}
.styleA .horizontal-layout .horizontal-layout-item,
.styleA.horizontal-layout .horizontal-layout-item  {
    @apply w-full
}
.styleA.vertical-layout,    /** root **/
.styleA .vertical-layout
{
    @apply flex flex-col
}

.styleA .horizontal-layout,
.styleA.horizontal-layout,
.styleA .vertical-layout,
.styleA.vertical-layout   /** root **/
{
    @apply gap-2
}



/**
*
* Array List
*
*/
.styleA fieldset.group,
fieldset.styleA.group {
    @apply
    border border-gray-300
    p-2
}
.styleA fieldset.group > legend,
fieldset.styleA.group > legend {
    @apply
    px-2
    w-full
}
.styleA fieldset.group .group-item,
fieldset.styleA.group .group-item {
    /*@apply*/
}

.styleA.array-list {
    @apply relative

}
.styleA .array-list .array-list-item-toolbar {
    @apply flex gap-1
}
.styleA .array-list .array-list-item-toolbar label {
     @apply pb-0
 }

.styleA .array-list .array-list-item-toolbar button {
    font-size:20px;
    @apply
    flex justify-center items-center
    rounded-full w-5 h-5
    font-bold
    hover:bg-gray-300
}
.styleA .array-list-item-content {
    @apply mt-4
}

.styleA .array-list footer {
    @apply flex justify-end
    mt-2
}

.styleA .array-list table {
    @apply w-full
}
.styleA .array-list table td:last-child {
    vertical-align: top;
    @apply w-8
}
.styleA .array-list table tr.array-list-item td .control{
    @apply mb-2
}

.styleA .array-list button.array-list-item-delete {
    @apply
    flex justify-center items-center
    w-7 h-7 rounded-full
    hover:bg-red-300
}
.styleA .array-list button.array-list-item-delete:after {
    content:"x";
    @apply text-red-600 font-bold font-mono
}
.styleA .array-list-no-data {
    @apply
    text-gray-600 text-sm px-2 py-1.5
}

.styleA .control .description,
.styleA .control .error,
.styleA .array-list .error
{
    /** h-2 **/
    @apply block text-sm
}
.styleA .control .description {
    @apply text-gray-500
}
.styleA .control .error,
.styleA .array-list .error {
    @apply text-red-500
}

/**
*
* Array List
*
*/
.styleA fieldset.array-list {
    @apply
    border border-gray-300
    p-2

    flex flex-col gap-2
}
.styleA fieldset.array-list legend {
    @apply px-2
    flex flex-row-reverse
    justify-between
    w-full
}

.styleA fieldset.array-list legend label {
    @apply
    uppercase tracking-wide text-gray-400 text-xs font-bold
}
.styleA fieldset.array-list legend button {
    @apply
    px-2 m-0
    rounded-full

    bg-gray-300
    hover:bg-green-500
}

.styleA fieldset.array-list .array-list-no-data {
    /*@apply */
}

.styleA fieldset.array-list .array-list-item-wrapper {
    @apply
    p-0
    border border-gray-300
}
.styleA fieldset.array-list .array-list-item {
    @apply p-0
}

.styleA fieldset.array-list .array-list-item-toolbar {
    @apply
    flex gap-1 items-center
}
.styleA fieldset.array-list .array-list-item-toolbar .array-list-item-label {
    min-height: 22px;
    @apply
    flex-grow
    text-black
    pl-2
}

.styleA fieldset.array-list .array-list-item-toolbar button {
    line-height: unset;
    @apply

    block
    w-6 h-6

    text-xs

    cursor-pointer
    rounded-full

    bg-transparent
    hover:bg-gray-400
}
.styleA fieldset.array-list .array-list-item-toolbar button.array-list-item-move-up {}
.styleA fieldset.array-list .array-list-item-toolbar button.array-list-item-move-down {}
.styleA fieldset.array-list .array-list-item-toolbar button.array-list-item-delete {
    @apply
    hover:bg-red-500
}

.styleA fieldset.array-list .array-list-item-content {
    @apply
    px-2
}



.styleA .tabs {
    @apply
    flex

    my-2

    border-b border-gray-200
}

.styleA .tabs button {
    min-width: 100px;
    @apply
    py-1 px-2

    focus:outline-none

    border-b border-transparent

    transition-colors

    rounded-t-lg

    hover:bg-gray-400
    hover:bg-opacity-10
    hover:text-gray-800
}

.styleA .tabs button.selected {
    @apply
    text-gray-800
    border-gray-800
}
.styleA .tabs button:disabled {
    @apply
    opacity-50
    hover:bg-opacity-0
}

.styleA .oneof .oneof-select + div {
    @apply
    px-4
}
.styleA .oneof .wrapper:has(.oneof-select) {
    @apply flex flex-col gap-2
}
