@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --base-100: #e5e7eb;
        --base-200: #9ca3af;
        --base-300: #454545FF;

        --primary: #0DA2E3FF;
        --secondary: #142846FF;
        --accent: #503246FF;
        --error: #911212;
        --success: #3f9a24;

        --tool-control: #bfdbfe;
        --tool-control-secondary: #dcfce7;
        --tool-layout: #dbeafe;
        --tool-accent: #fef3c7;
        --tool-error: #fee2e2;
        --toolItem-icon:#000;
        --toolItem-border: rgba(60, 60, 60, 0.2);

        --dropArea: var(--base-100);
        --dropArea-dots: var(--base-200);
        --dropArea-dragBorder: var(--primary);

        --buttonRounded-hover:rgba(200,200,200,.5);

    }

    .dark {
        --base-100: #b4adad;
        --base-200: #6a6b6e;
        --base-300: #2a2c2c;

        --tool-control: #606e80;
        --tool-control-secondary: #6f8075;
        --tool-layout: #6e7580;
        --tool-accent: #4d493c;
        --tool-error: #4d4444;
        --toolItem-icon:#fff;
        --toolItem-border:rgb(100,100,100,0.6);

        --dropArea: var(--base-100);
        --dropArea-dots: var(--base-200);
        --dropArea-dragBorder: var(--base-300);

        --buttonRounded-hover:rgba(200,200,200,.2);
    }


    h1 {
        @apply
        text-xl sm:text-2xl
    }

    h2 {
        @apply
        text-lg sm:text-xl
    }
}

@layer components {
}
