@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --base-100: #e5e7eb;
        --base-200: #9ca3af;
        --base-300: #454545FF;

        --error: #911212;

        --tool-control: #bfdbfe;
        --tool-control-secondary: #dcfce7;
        --tool-layout: #dbeafe;
        --tool-accent: #fef3c7;
        --tool-error: #fee2e2;
        --toolItem-icon:#000;
        --toolItem-border: rgba(60, 60, 60, 0.2);
        --toolBar:var(--base-100);
        --toolBar-scrollbar:var(--base-300);
        --toolBar-tab:var(--base-100);
        --toolBar-tab-hover:var(--base-200);
        --modal:#fff;

        --dropArea: rgb(250, 250, 250);
        --dropArea-dots: var(--base-200);
        --dropArea-dragBorder: var(--base-300);

        --buttonRounded-hover:rgba(200,200,200,.5);

        --tool-categorization-tab-hover:rgb(255,255,255,0.3);
        --tool-reference-ref:var(--base-100);
        --tool-control-input:#fff;
        --tool-control-input-border:#eee;

    }

    .dark {
        --base-100: hsl(0 0% 35%);
        --base-200: hsl(0 0% 25%);
        --base-300: hsl(0 0% 15%);

        --tool-control: #606e80;
        --tool-control-secondary: #6f8075;
        --tool-layout: #6e7580;
        --tool-accent: #4d493c;
        --tool-error: #4d4444;
        --toolItem-icon:#fff;
        --toolItem-border:rgb(100,100,100,0.6);
        --modal:var(--base-100);

        --dropArea: var(--base-200);
        --dropArea-dots: var(--base-100);
        --dropArea-dragBorder: var(--base-100);

        --buttonRounded-hover:rgba(200,200,200,.2);

        --tool-categorization-tab-hover:rgb(255,255,255,0.2);
        --tool-control-input: rgb(255,255,255,0.3);
        --tool-control-input-border: rgb(0,0,0,0.5);
    }


    h1 {
        @apply
        text-xl sm:text-2xl
    }

    h2 {
        @apply
        text-lg sm:text-xl
    }
}

@layer components {
}
